# Install Dependencies

In [2]:
!pip install graphsense-python
import pandas as pd
import graphsense as gs
from graphsense.api import addresses_api, blocks_api, entities_api, general_api, txs_api, bulk_api

Collecting graphsense-python==1.4.1
  Downloading graphsense_python-1.4.1-py3-none-any.whl (203 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 203.8/203.8 kB 3.4 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil in /home/mf/Documents/ikna/src/tutorials/iknaio-api-tutorial/venv/lib/python3.10/site-packages (from graphsense-python==1.4.1) (2.8.2)
Requirement already satisfied: urllib3>=1.25.3 in /home/mf/Documents/ikna/src/tutorials/iknaio-api-tutorial/venv/lib/python3.10/site-packages (from graphsense-python==1.4.1) (2.1.0)
Requirement already satisfied: six>=1.5 in /home/mf/Documents/ikna/src/tutorials/iknaio-api-tutorial/venv/lib/python3.10/site-packages (from python-dateutil->graphsense-python==1.4.1) (1.16.0)
Installing collected packages: graphsense-python
  Attempting uninstall: graphsense-python
    Found existing installation: graphsense-python 1.4.0
    Uninstalling graphsense-python-1.4.0:
      Successfully uninstalled graphsense-python-1.4.0
Successfully installed graphsense-python-1.4.1

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

# Set Api Key

In [3]:
configuration = gs.Configuration(
    host = "https://api.ikna.io/",
    api_key = {
        'api_key': ""
    })

# Prepare Tron Seed Addresses

In [4]:
addresses = [
     "TWS1onJnNTg8tJHomceqxBxTsUB1DHh7PV"
    ,"TCQyM9ubSpKggiTYwYjAA31XzM7QH6GWqh"
    ,"TKsF5YVJiAvrFMysA2pk17dWK84eVtSS8z"
]

# Load Address Details

In [5]:
with gs.ApiClient(configuration) as api_client:
    blkapi = bulk_api.BulkApi(api_client)
    rcsv = blkapi.bulk_csv(
                  "trx",
                  "get_address", 
                  body = {
                      "address": addresses
                      },
                  num_pages = 1,
                  _preload_content=False
                  )
    df = pd.read_csv(rcsv)
df

,_error,_info,_request_address,actors,address,balance_eur,balance_usd,balance_value,currency,entity,...,total_tokens_received_usdt_eur,total_tokens_received_usdt_usd,total_tokens_received_usdt_value,total_tokens_spent,total_tokens_spent_usdc_eur,total_tokens_spent_usdc_usd,total_tokens_spent_usdc_value,total_tokens_spent_usdt_eur,total_tokens_spent_usdt_usd,total_tokens_spent_usdt_value
0,NaN,NaN,TWS1onJnNTg8tJHomceqxBxTsUB1DHh7PV,NaN,TWS1onJnNTg8tJHomceqxBxTsUB1DHh7PV,4576886.33,4977364.11,46095295787359,trx,70369532,...,1.810733e+09,1.938734e+09,1.938734e+15,NaN,7764146.0,8379883.5,8.379884e+12,1.810616e+09,1.938570e+09,1.938570e+15
1,NaN,NaN,TKsF5YVJiAvrFMysA2pk17dWK84eVtSS8z,NaN,TKsF5YVJiAvrFMysA2pk17dWK84eVtSS8z,205653.65,223648.35,2071204105993,trx,153673540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,TCQyM9ubSpKggiTYwYjAA31XzM7QH6GWqh,NaN,TCQyM9ubSpKggiTYwYjAA31XzM7QH6GWqh,107.25,116.64,1080160247,trx,15938802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN