# Install Dependencies

In [5]:
!pip install graphsense-python
import pandas as pd
import graphsense as gs
from graphsense.api import addresses_api, blocks_api, entities_api, general_api, txs_api, bulk_api

Requirement already satisfied: graphsense-python in /home/mf/Documents/ikna/src/tutorials/iknaio-api-tutorial/venv/lib/python3.10/site-packages (1.4.0)
Requirement already satisfied: python-dateutil in /home/mf/Documents/ikna/src/tutorials/iknaio-api-tutorial/venv/lib/python3.10/site-packages (from graphsense-python) (2.8.2)
Requirement already satisfied: urllib3>=1.25.3 in /home/mf/Documents/ikna/src/tutorials/iknaio-api-tutorial/venv/lib/python3.10/site-packages (from graphsense-python) (2.1.0)
Requirement already satisfied: six>=1.5 in /home/mf/Documents/ikna/src/tutorials/iknaio-api-tutorial/venv/lib/python3.10/site-packages (from python-dateutil->graphsense-python) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

# Set Api Key

In [15]:
configuration = gs.Configuration(
    host = "https://api.test.ikna.io/",
    api_key = {
        'api_key': ""
    })

# Prepare Tron Seed Addresses

In [7]:
addresses = [
     "TWS1onJnNTg8tJHomceqxBxTsUB1DHh7PV"
    ,"TCQyM9ubSpKggiTYwYjAA31XzM7QH6GWqh"
    ,"TKsF5YVJiAvrFMysA2pk17dWK84eVtSS8z"
]

# Load Address Details

In [16]:
with gs.ApiClient(configuration) as api_client:
    blkapi = bulk_api.BulkApi(api_client)
    rcsv = blkapi.bulk_csv(
                  "trx",
                  "get_address", 
                  body = {
                      "address": addresses
                      },
                  num_pages = 1,
                  _preload_content=False
                  )
    df = pd.read_csv(rcsv)
df

,_error,_info,_request_address,actors,address,balance_eur,balance_usd,balance_value,currency,entity,...,total_tokens_received_usdt_eur,total_tokens_received_usdt_usd,total_tokens_received_usdt_value,total_tokens_spent,total_tokens_spent_usdc_eur,total_tokens_spent_usdc_usd,total_tokens_spent_usdc_value,total_tokens_spent_usdt_eur,total_tokens_spent_usdt_usd,total_tokens_spent_usdt_value
0,NaN,NaN,TCQyM9ubSpKggiTYwYjAA31XzM7QH6GWqh,NaN,TCQyM9ubSpKggiTYwYjAA31XzM7QH6GWqh,105.06,113.24,1080509801,trx,15960758,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,TKsF5YVJiAvrFMysA2pk17dWK84eVtSS8z,NaN,TKsF5YVJiAvrFMysA2pk17dWK84eVtSS8z,201389.99,217058.13,2071204105993,trx,153715842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,TWS1onJnNTg8tJHomceqxBxTsUB1DHh7PV,NaN,TWS1onJnNTg8tJHomceqxBxTsUB1DHh7PV,3066477.08,3305049.10,31537317509555,trx,70411608,...,1.650325e+09,1.763367e+09,1.763367e+15,NaN,6701891.5,7216129.5,7.216129e+12,1.650734e+09,1.763727e+09,1.763727e+15